main{
    .my_card{
        width: calc(100%/6);
    
        img{
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: 0 0;
        }
    
        h5{
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    
    .my_preview-btn{
        display: inline-block;
        color: white;
        background-color: #0282F9;
        font-size: 12px;
        font-weight: bold;
        transition: 0.3s;

        &.my_blue_btn:hover{
            background-color: #55adff;
        }
    
        &.my_floating{
            position: absolute;
            top: -68px;
            font-size: 15px;
        }
    
    }
}



.my_comic{
    img{
        width: 100%;
        aspect-ratio: 1/1.4;
        object-fit: cover;
        object-position: 100 0;
    }

    .my_preview-btn{
        width: 200px;

        &.my_floating{
            position: absolute;
            top: -300px;
            font-size: 15px;
        }

        .my_tag{
            background-color: #0282F9;
            font-weight: bold;
        }
    }
}